// for test-bloom-filter.c
{ "files": [ "../../test/test-bloom-filter.c",
             "../../test/framework.c",
	     "../../src/bloom-filter.c",
	     "../../src/hash-string.c",
	     "../../test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I../../src 
                      -I../../test -DALLOC_TESTING"
  }
  