// for test-alloc-testing.c
{ "files": [ "/home/huisong/work/c_alog/c-algorithms/test/test-alloc-testing.c",
             "/home/huisong/work/c_alog/c-algorithms/test/framework.c",
	     "/home/huisong/work/c_alog/c-algorithms/test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I/home/huisong/work/c_alog/c-algorithms/src -I /home/huisong/work/c_alog/c-algorithms/test -DALLOC_TESTING"
  }	