// for test-alloc-testing.c
{ "files": [ "test/test-alloc-testing.c", "test/framework.c", "test/alloc-testing.c"],
  "main": "main",
   "raw_options":{
   "-slevel": "2000",
   "-cpp-extra-args": "-m32 -std=c11 -I./src/ -DALLOC_TESTING",
   "-val": "true"
   },
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I./src -I test -DALLOC_TESTING"
  }
		