// for test-hash-table.c
{ "files": [ "../../test/test-hash-table.c",
             "../../test/framework.c",
	     "../../src/compare-int.c",
	     "../../src/compare-string.c",
	     "../../src/hash-table.c",
	     "../../src/hash-string.c",
	     "../../src/hash-int.c",
	     "../../test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I../../src 
                      -I../../test -DALLOC_TESTING"
  }