// for test-cpp.cpp
{ "files": [ "../../test/test-cpp.cpp",
  	     "../../src/compare-int.c",
	     "../../src/compare-pointer.c",
             "../../src/compare-string.c",
             "../../src/hash-int.c",
 	     "../../src/hash-pointer.c",
	     "../../src/hash-string.c",
	     "../../src/arraylist.c",
  	     "../../src/avl-tree.c",
	     "../../src/binary-heap.c",
	     "../../src/binomial-heap.c",
	     "../../src/bloom-filter.c",
  	     "../../src/hash-table.c",
 	     "../../src/list.c",
	     "../../src/queue.c",
	     "../../src/set.c",
	     "../../src/slist.c",
	     "../../src/trie.c",
	    "../../test/framework.c",
	     "../../test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I../../src 
                      -I../../test -DALLOC_TESTING"
  }