// for test-sortedarray.c
{ "files": [ "../../test/test-sortedarray.c",
             "../../test/framework.c",
	     "../../src/sortedarray.c",
	     "../../src/compare-int.c",
	     "../../test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I../../src 
                      -I../../test -DALLOC_TESTING"
  }