// for test-binomial-heap.c
{ "files": [ "../../test/test-binomial-heap.c",
             "../../test/framework.c",
	     "../../src/binomial-heap.c",
	     "../../src/compare-int.c",
	     "../../test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I../../src 
                      -I../../test -DALLOC_TESTING"
  }