// for test-compare-functions.c
{ "files": [ "../../test/test-compare-functions.c",
             "../../test/framework.c",
	     "../../src/list.c",
	     "../../src/compare-int.c",
	     "../../src/compare-pointer.c",
	     "../../src/compare-string.c",
	     "../../test/alloc-testing.c"],
  "main": "main",
  "machdep": "gcc_x86_32",
  "compilation_cmd": "-I../../src 
                      -I../../test -DALLOC_TESTING"
  }